* {
  padding: 0px;
  margin: 0px;
}
.flexNav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #ffffff;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

a:hover {
  color: #000000;
  box-shadow: inset 200px 0 0 0 #ffffff;
}

.flexCuerpo {
  display: flex;
}

.body {
  background-image: url(image/255078.jpg) ;
}

